.header {
  background-color: #e86252;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles {
  background-color: white;
}

.articleCards {
  background-color: #fbfbf2;
}

.singleArticle {
  background-color: #fbfbf2;
}

.header__avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.header__user {
  grid-column: 3;
}

.header__header {
  grid-column: 1;
}
.user {
  background-color: #e86252;
}

.articles__navbar {
  background-color: #bebec5;
}
